NEXTAUTH_SECRET=
NEXTAUTH_URL="https://localhost:8443"
NEXTAUTH_URLINTERNAL="http://localhost:3000"

NEXTAUTH_GITHUB_CLIENT_ID=
NEXTAUTH_GITHUB_CLIENT_SECRET=
NEXTAUTH_GOOGLE_CLIENT_ID=
NEXTAUTH_GOOGLE_CLIENT_SECRET=
NEXTAUTH_FACEBOOK_CLIENT_ID=
NEXTAUTH_FACEBOOK_CLIENT_SECRET=

